.delete-btn {

  position: absolute;

  top: 15px;

  right: 15px;

  width: 40px;

  height: 40px;

  border: none;

  border-radius: 50%;

  cursor: pointer;

  background:

    rgba(239,68,68,.15);

  color: white;

  font-size: 1.2rem;

  transition: .3s;

}

.delete-btn:hover {

  transform:

    scale(1.15);

  background:

    rgba(239,68,68,.35);

}


.device-card {

  position: relative;

}